body {
    margin: 0;
    padding: 0;
    background-color: #c11919;
    color: #333;
}

#title {
    text-align: center;
    margin-top: 10%;
    font-size: 28px;
    color: #EFEFEF;
}

#main {
    background-color: #EFEFEF;
    border-radius: 7px;
    width: 80%;
    margin: 0 auto 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

#main>p {
    font-size: 12px;
    margin-top: 30px;
}

#main>form>input {
    background-color: #EFEFEF;
    width: 70%;
    margin-right: 0;
    border: none;
    border-bottom: 1px solid #444;
}

#main>form>button {
    width: 10%;
    margin-left: 0;
    border: none;
    border-radius: 3%;
    background-color: #c11919;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 7px;
    padding-right: 7px;
    color: white;
}

#main>form>button:hover {
    cursor: pointer;
    font-size: 14px;
}

iframe {
    margin-top: 50px;
}

#buttons {
    margin-top: 20px;
}

#buttons>div {
    display: inline;
}

#buttons>div>a:hover {
    font-size: 16px;
    transition: 0.5s;
}

#buttons>div>a {
    transition: 0.5s;
    display: inline;
    background-color: #c11919;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#footer {
    width: 100%;
    background-color: #333;
    color: white;
    font-size: 12px;
    position: relative;
    bottom: 0;
    text-align: center;
    margin: 0 auto 0;
}

#footer {
    width: 100%;
    background-color: #333;
    color: white;
    font-size: 12px;
    position: relative;
    bottom: 0;
    text-align: center;
    margin: 0 auto 0;
}

#footer>a {
    color: white;
    text-decoration: none;
}